---
title: Все эвенты Питера
eleventyExcludeFromCollections: true
---

{% css %}
 article { padding: 1rem; border: 1px solid grey; max-width: 80%; margin-bottom: 1rem }
 article a { text-decoration: none; color: inherit }
{% endcss %}
<ul reversed>
{%- for post in collections.piter | reverse -%}
  <li>
		<article>
			<a href="{{ post.url }}">
				<h1>{{ post.data.title }}</h1>
				<p>{{ post.data.promo }}</p>
			</a>
		</article>
	</li>
{%- endfor -%}
<ul>
