{%- macro header(name) -%}
<header>
	<a class="logo" href="/">reWorked</a>
	<nav>
		<ol>
			<li>
				<a href="/events/moscow">в Москве</a>
			</li>
			<li>
				<a href="/events/piter">в Питере</a>
			</li>
		</ol>
	</nav>
</header>
{%- endmacro -%}
